In [3]:
# Import Libraries
import polars as pl 
import pandas as pd
import numpy as np
from glob import glob
import os

# 1 - Read File

In [7]:
outbound_april_2023 = pd.read_excel("../data/Outbound - Conveyor - 2023 APRIL.xlsx")

In [8]:
outbound_april_2023.head(10)

,tran_log_id,tran_type,description,start_tran_date,start_tran_time,end_tran_date,end_tran_time,employee_id,control_number,line_number,...,generic_attribute_5,generic_attribute_6,generic_attribute_7,generic_attribute_8,generic_attribute_9,generic_attribute_10,generic_attribute_11,owner_id,DATE_TIME_H,ID_H
0,90325122,351,Picking (pick),2023-04-11,1900-01-01 07:21:45,2023-04-11,1900-01-01 07:21:55,WMM,51972096699,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858416
1,90325126,351,Picking (pick),2023-04-11,1900-01-01 07:20:53,2023-04-11,1900-01-01 07:21:56,MCR,51904091166,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858420
2,90325127,351,Picking (pick),2023-04-11,1900-01-01 07:21:52,2023-04-11,1900-01-01 07:22:03,WVR,51891090127,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858421
3,90325128,351,Picking (pick),2023-04-11,1900-01-01 07:21:35,2023-04-11,1900-01-01 07:22:03,SEA,51972096744,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858422
4,90325129,351,Picking (pick),2023-04-11,1900-01-01 07:21:51,2023-04-11,1900-01-01 07:22:04,JLO,51972096713,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858423
5,90325130,351,Picking (pick),2023-04-11,1900-01-01 07:21:52,2023-04-11,1900-01-01 07:22:07,PPH,51972096721,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858424
6,90325131,351,Picking (pick),2023-04-11,1900-01-01 07:21:47,2023-04-11,1900-01-01 07:22:07,ITI,51916092979,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858425
7,90325132,351,Picking (pick),2023-04-11,1900-01-01 07:21:49,2023-04-11,1900-01-01 07:22:08,MNJ,51972096701,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858426
8,90325133,351,Picking (pick),2023-04-11,1900-01-01 07:21:56,2023-04-11,1900-01-01 07:22:05,MCR,51904091166,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858427
9,90325134,351,Picking (pick),2023-04-11,1900-01-01 07:21:49,2023-04-11,1900-01-01 07:22:09,THA,51972096674,NaN,...,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-06 02:20:53.487,90858428

In [15]:
outbound_april_2023.shape

(408160, 44)

In [16]:
outbound_april_2023.columns

Index(['tran_log_id', 'tran_type', 'description', 'start_tran_date',
       'start_tran_time', 'end_tran_date', 'end_tran_time', 'employee_id',
       'control_number', 'line_number', 'control_number_2', 'outside_id',
       'wh_id', 'location_id', 'hu_id', 'num_items', 'item_number',
       'lot_number', 'uom', 'tran_qty', 'wh_id_2', 'location_id_2',
       'verify_status', 'employee_id_2', 'routing_code', 'hu_id_2',
       'return_disposition', 'elapsed_time', 'source_storage_type',
       'destination_storage_type', 'generic_attribute_1',
       'generic_attribute_2', 'generic_attribute_3', 'generic_attribute_4',
       'generic_attribute_5', 'generic_attribute_6', 'generic_attribute_7',
       'generic_attribute_8', 'generic_attribute_9', 'generic_attribute_10',
       'generic_attribute_11', 'owner_id', 'DATE_TIME_H', 'ID_H'],
      dtype='object')

Date column - end_tran_date

# 2 - Cleaning